.single-pin-card {
  width: 50%;
}

.single-pin-image {
  background-size: cover;
  background-position: top;
  height: 425px;
}

.pin-image, .public-pin-image {
  background-size: cover;
  background-position: center;
  height: 250px;
}

.board-card, .pin-card, .public-pin-card {
  min-width: 250px;
  max-width: 300px;
  max-height: 400px;
}