.modal-container {
  // margin: auto;
  padding-top: 15px;
}

.modal-container button {
  // background: #CECBCB;
  // border: #CECBCB;
}

.form-dropdown {
  margin: auto;
  width: 50%;
  text-align: center;
}