.pin-container{
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: left;
  margin-top: 25px;
}

.pins-page {
  margin-top: 25px;
}

// .pin-image {
//   height: auto;
//   width: auto;
// }