.pin-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 25px 75px;
  text-align: left;
}

.pins-page {
  margin-top: 25px;
}

// .pin-image {
//   height: auto;
//   width: auto;
// }